/data/
/development/
/final_manuscript/
/final_template/
/manuscript/
/manuscripts/
.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
/coverage.xml
/.coverage
/.mypy_cache/
/.ruff_cache/
/.pytest_cache/
/build/
/dist/
/.venv/
.env
.env.*
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
/formal/.lake/
